<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.CourseDao">

	<!-- 全表查询 -->
	<!-- 属性名与列名不一致，解决方案，查询的时候取别名，或者用resultMap -->
	<!-- 查询学生信息 -->
	<select id="all_college" resultType="entity.college">
		select * from college
		<where>
			<if test="college_name ! = null">
				college_name = #{college_name}
	</if>
			<if test="college_id ! = null">
				college_id = #{college_id}
	</if>
		</where>
	</select>
</mapper>